.wrapper{
  display: grid;
  grid-template-columns: 2.5em 2.5em 2fr 1.5fr .5fr;
  width: 100%;
  padding: 0.5em;

  &:hover{
    background-color: hsla(0,0%,100%,.1);
    .play-btn{
      opacity: 1;
    }
    .icon{
      opacity: 1;
    }
  }

  &.short{
    grid-template-columns: 0 2.5em 2fr 1.5fr .5fr;
  }
}

.index{
  padding: 0 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image{
  width: 40px;
  height: 40px;
  position: relative;

  &>img{
    width: 100%;
    object-fit: contain;
  }

  .play-btn{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsla(0, 0%, 0%, 0.5);
    opacity: 0;
    cursor: pointer;

    &>svg{
      // font-size: 1.25em;
    }

    .shown{
      opacity: 1;
    }    
  }
}
.text{
  flex: 1;
  padding-left: 1em;

  .artist>a:not(:first-child)::before{
    content: ', ';
  }
}
.album{
  display: flex;
  align-items: center;
}
.more{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;

  .fav{
    margin-right: 1em;
  }
  .icon{
    cursor: pointer;
    opacity: 0;
  }
  
}