.wrapper{
  display: flex;
  flex-direction: column;
  gap: 2em;
}

section{
  display: grid;
  grid-template-rows: 70px auto;
  grid-template-columns: repeat(6, 1fr);
  gap: 1.25em;

  .title{
    grid-row: 1/1;
    grid-column: 1/7;
  }
}