.list-item{
  display: flex;
  flex-direction: row;
  position: relative;
  cursor: pointer;
  min-height: 3rem;
  gap: .5rem;
}

.image{
  width: 3rem;
  height: 3rem;
}

.contextMenu{
  position: absolute;
  top: 0;
  left: 60%;
  padding: 4px;
  background-color: #282828;
  border-radius: 4px;
  z-index: 7;

  .menu-item{
    white-space: nowrap;
    cursor: pointer;
    padding: .75rem;
    border-radius: 4px;

    &:hover{
      background-color: hsla(0,0%,100%,.1)
    }
  }
}