.wrapper{
  display: flex;
  flex-direction: row;
  gap: 1em;

  &>*{
    font-size: 1em;
    width: 2em;
    height: 2em;
    border-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: rgba(0,0,0,.7);
    cursor: pointer;

    &[disabled]{
      opacity: .6;
    }
  }
}