.section{
  display: grid;
  grid-template-rows: 3.5em auto;
  grid-template-columns: repeat(6, 1fr);
  gap: 1em;
  width: 100%;

  .head{
    grid-row: 1/1;
    grid-column: 1/-1;
    display: flex;

    .title{
      flex: 1;
      font-size: 1.5em;
      &>span{
        cursor: pointer;
      }
    }
    .expand{
      cursor: pointer;
      font-size: .875;
      color: #b3b3b3
    }
  }
}

@media (max-width: 1400px){
  .section{
    grid-template-columns: repeat(5, 1fr);
  }
}
@media (max-width: 1024px){
  .section{
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 900px){
  .section{
    grid-template-columns: repeat(3, 1fr);
  }
}