section{
  display: grid;
  grid-template-rows: 3.5em auto;
  grid-template-columns: repeat(6, 1fr);

  .head{
    grid-row: 1/1;
    grid-column: 1/7;
    display: flex;

    .title{
      flex: 1;
      font-size: 1.5em;
      &>span{
        cursor: pointer;
      }
    }
    .expand{
      cursor: pointer;
      font-size: .875;
      color: #b3b3b3
    }
  }
}