.contextMenu{
  position: absolute;
  top: 90%;
  left: 60%;
  padding: 4px;
  background-color: #282828;
  border-radius: 4px;
  z-index: 7;

  .menu-item{
    white-space: nowrap;
    cursor: pointer;
    padding: .75rem;
    border-radius: 4px;

    &:hover{
      background-color: hsla(0,0%,100%,.1)
    }
  }
}