@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600;700;900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --content-padding: 4em 32px 5em;

  --background-base: #121212;
  --background-highlight: #1a1a1a;
  --background-press: #000;
  --background-elevated-base: #242424;
  --background-elevated-highlight: #2a2a2a;
  --background-elevated-press: #000;
  --background-tinted-base: hsla(0,0%,100%,.07);
  --background-tinted-highlight: hsla(0,0%,100%,.1);
  --background-tinted-press: hsla(0,0%,100%,.04);
  --background-unsafe-for-small-text-base: #121212;
  --background-unsafe-for-small-text-highlight: #121212;
  --background-unsafe-for-small-text-press: #121212;
  --text-base: #fff;
  --text-subdued: #a7a7a7;
  --text-bright-accent: #1ed760;
  --text-negative: #f15e6c;
  --text-warning: #ffa42b;
  --text-positive: #1ed760;
  --text-announcement: #3d91f4;
  --essential-base: #fff;
  --essential-subdued: #727272;
  --essential-bright-accent: #1ed760;
  --essential-negative: #e91429;
  --essential-warning: #ffa42b;
  --essential-positive: #1ed760;
  --essential-announcement: #0d72ea;
  --decorative-base: #fff;
  --decorative-subdued: #292929;
}


body{
  font-family: 'Rubik', sans-serif;
  /* background-color: #1c1c1c; */

}

.App{
  display: grid;
  grid-template-areas: 
    "side-bar top-bar top-bar"
    "side-bar main-view main-view"
    "now-playing now-playing now-playing"
  ;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr auto;
  background-color: #121212;
  color: #fff;
}
.top-bar{
  grid-area: top-bar;
  /* height: 4em; */
}
.side-bar{
  grid-area: side-bar;
  width: 230px;
  z-index: 8;
}
.main-view{
  grid-area: main-view;
  height: 100%;
  min-height: 100vh;
  box-sizing: border-box;
}
.now-playing{
  grid-area: now-playing;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

a{
  text-decoration: none;
  color: inherit;
}
a:hover{text-decoration: underline;}
button{
  border: none;
  outline: none;
}
input{
  outline: none;
  border-style: solid;
}

*::-webkit-scrollbar{
  background-color: #121212;
}
*::-webkit-scrollbar-thumb{
  background-color: #ffffff80;
}